.signIn-container {
    position: relative;
    height: 100%;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/d54727b4-2ad9-4e71-bb48-0899f55f103a/49d3aeb8-486a-4e7c-9af2-6cced7625add/CA-en-20230220-popsignuptwoweeks-perspective_alpha_website_small.jpg") center no-repeat;
    background-size: cover;
}

.signIn-logo-icon {
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
    margin-top: 20px;
}

.signIn-button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}

.signIn-gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.5 );
    background-image: linear-gradient(
            to top,
            rgba( 0, 0, 0, 0.8 ) 0,
            rgba( 0, 0, 0, 0 ) 60%,
            rgba( 0, 0, 0, 0.7 ) 100%
    );
}

.signIn-content {
    position: absolute;
    top: 35%;
    z-index: 1;
    background-color: rgba(30, 33, 39, 0.8);
    border-radius: 16px;
    padding: 20px;
    width: 300px;
    margin-left: 35%;
    margin-right: auto;
    text-align: center;
    color: white;
}

.signIn-form {
    margin-top: 20px;
}

.signIn-form > form {
    display: grid;
    flex-direction: column;
}

.signIn-form > form > input {
    padding: 10px;
    margin: 5px;
    outline: none;
    height: 35px;
    max-width: 600px;
    border-radius: 5px;
    border: none;
}

.signIn-submit-button {
    padding: 20px;
    background-color: #e50914;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.singIn-form > form > h5 {
    text-align: center;
    margin-top: 32px;
}

.signIn-bold {
    font-weight: bold;
}

.signIn-bold:hover {
    cursor: pointer;
    text-decoration: underline;
}